* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: orange;
    background-color: #000;
    margin: 0;
}

body, html {
    height: 100%;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    width: 200px;
}

.enter-link {
    color: orange;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.enter-link:hover {
    color: crimson;
}

.header {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.main {
    max-width: 1200px;
    margin: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    padding: 8px 16px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #444;
}

.results-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}


/* Movie Card Styles */
.movie-card {
    background-color: #5c5c5c;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.movie-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.movie-card p {
    margin-bottom: 10px;
}

.movie-card strong {
    font-weight: bold;
}

.movie-card a {
    color: #007BFF;
    text-decoration: none; 
}

.movie-card a:hover {
    text-decoration: none; 
}

.addToWatchlistButton {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.addToWatchlistButton:hover {
    background-color: rgb(222, 144, 0);
}

/* Media query for small screens (max width 820px) */
@media screen and (max-width: 820px) {
    .results-section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}