:root {
    --primary-color: #FF6B01;
    --background-color: #000;
    --header-bg-color: #23201d;
    --text-color: #FF6B01;
    --main-bg-color: #5c5c5c;
    --link-color: #007BFF;
    --hover-color: crimson;
    --menu-bg-color: black;
    --menu-text-color: #FF6B01;
    --menu-hover-color: #5c5c5c;
    --border-color: #dddddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caprasimo', cursive;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Eczar', serif;
    font-family: 'Inter', sans-serif;
}

html,
body {
    background-color: #000;
    color: var(--text-color);
}

/* Homepage Elements */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.logo {
    width: 400px;
    height: auto;
    max-width: 100%;
}

.enter-link {
    color: #F9A72B;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.enter-link:hover {
    color: var(--primary-color);
}

/* Index.html Elements */
.header {
    background-color: var(--header-bg-color);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.main {
    max-width: 1200px;
    margin: 20px;
    background-color: var(--background-color);
    margin-left: auto;
    margin-right: auto;
}

/* Search Elememts */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}

#searchButton {
    padding: 8px 16px;
    background-color: #666;
    color: var(--menu-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchButton:hover {
    background-color: #444;
}

/* Results Container Elements */
.results-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Watchlist & Saved Movies */
.watchListHeader {
    font-weight: bold;
    padding-bottom: 10px;
}

.savedMovies {
    list-style: none;
    padding: 20px;
}

.savedMovies li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
}

.savedMovies li i {
    color: #ff6b01;
    cursor: pointer;
}

/* Movie Card Styles */
.movie-card {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-card img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.movie-card h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.movie-card p {
    margin-bottom: 10px;
}

.movie-card strong {
    font-weight: bold;
}

.movie-card a {
    color: var(--link-color);
    text-decoration: none;
}

.movie-card a:hover {
    text-decoration: none;
}

.fa-regular.fa-heart {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.fa-regular.fa-heart:hover {
    transform: scale(1.1);
}

.movie-card img.imdb-link {
    width: 10px;
    height: auto;
}

.movie-description {
    margin-bottom: 15px;
}

/* Navbar-Hamburger */
.hamburger {
    background: none;
    position: absolute;
    top: 34px;
    right: 9px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: 34px;
    right: 9px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}


.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    background: var(--menu-bg-color);
    position: absolute;
    text-align: center;
    font-size: 12px;
    
    max-width: 700px; 
    left: 50%;
    transform: translateX(-50%);
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu li {
    font-size: 16px;
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: var(--border-color) 1px solid;
}

.menu li:hover {
    display: block;
    background: var(--menu-hover-color);
    padding: 15px 0 15px 0;
    border-bottom: var(--border-color) 1px solid;
}

.menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: var(--menu-text-color);
}

.menu ul li a:hover {
    color: var(--menu-text-color);
    text-decoration: none;
}

.menu a {
    text-decoration: none;
    color: var(--menu-text-color);
}

.menu a:hover {
    text-decoration: none;
    color: var(--menu-text-color);
}

.watchlist {
    text-align: center;
}

/* Media Querys */
@media (max-width: 767px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }

    .reverse-columns .savedMovies {
        padding: 0 50px;
    }
}

@media (min-width: 1256px) {
    .main {
        width: 1255px;
    }
}

@media (max-width: 1240px) {
    .results-section {
        padding: 20px;
    }
}



/* Watchlist Page */
.movie-title {
    text-align: center;
    font-size: 22px;
    padding: 20px;
}

.movie-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    object-fit: cover;
}

@media (min-width: 996px) {
    .movie-title {
        font-size: 18px;
    }
}

@media (min-width: 1240px) {
    .movie-image {
        width: 200px;
    }
}

@media (max-width: 1239px) {
    .movie-image {
        max-width: 200px
    }
}